body {
    margin:0;
    font: normal 24px Arial, Helvetica, sand-serif;
    color:rgb(26, 13, 13);
}

#particles-js{
    background:rgb(36, 231, 222);
    height: 700px;
    text-align: center;
    position: relative;
    
}

.text-image{
    position: absolute;
    margin: auto;
    padding:0;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    color:rgb(81, 88, 0);
    height:350px;
}

.display1{
    font-size: 6rem;
    font-weight: 200;
    line-height: 1.2;
}

.display2{
    font-size: 3rem;
    line-height: 1;
}

.about-me-header{
    text-align: center;
    font-size: 3rem;
    line-height: 1.5;
    color:rgb(56, 56, 167);
}

.selfie {
    border-radius: 50%;
    display:block;
    margin-left: auto;
    margin-right:auto;
}